<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Androidaboutdemos">

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- When create this module, android.app.lib_name is auto added -->
            <!--            <meta-data-->
            <!--                android:name="android.app.lib_name"-->
            <!--                android:value="" />-->
        </activity>

        <activity
            android:name=".DeeplinkActivity"
            android:exported="true">

            <!--   Deep links are URIs of any scheme          -->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.VIEW" />-->

<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->

<!--                <data android:scheme="my" />-->
<!--                <data-->
<!--                    android:host="go"-->
<!--                    android:scheme="deeplinkdemo" />-->
<!--                <data-->
<!--                    android:host="qrscan"-->
<!--                    android:scheme="deeplinkdemo" />-->
<!--            </intent-filter>-->

            <!-- Web links are deep links that use the HTTP and HTTPS schemes.           -->
<!--            <intent-filter android:autoVerify="true">-->
<!--                <action android:name="android.intent.action.VIEW" />-->

<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->
<!--                &lt;!&ndash; scheme is https, only support https,not support http               &ndash;&gt;-->
<!--                <data-->
<!--                    android:host="github.com"-->
<!--                    android:pathPrefix="/YingVickyCao/"-->
<!--                    android:scheme="https" />-->

<!--            </intent-filter>-->

            <!--  Android App Links, available on Android 6.0 (API level 23) and higher, are web links that use the HTTP and HTTPS schemes and contain the autoVerify attribute.           -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_name"
                    android:pathPrefix="/video"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_name"
                    android:pathPrefix="/menu/blog"
                    android:scheme="http" />
            </intent-filter>
        </activity>
    </application>

</manifest>