<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--
    QUERY_ALL_PACKAGES:表示查询所有应用
    tools:ignore="QueryAllPackagesPermission" 忽略QueryAllPackagesPermission 警告
     tools:remove 移除app中由第三方sdk中QUERY_ALL_PACKAGES引入的权限
     https://juejin.cn/post/6904922007297916936
      -->
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission"
        tools:remove="remove" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Androidaboutdemos">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--   test if can receive deep links      -->
        <!--        <activity-->
        <!--            android:name=".DisplayDeeplinkActivity"-->
        <!--            android:exported="true">-->

        <!--  Test case          -->
        <!--  https://developer.android.google.cn/training/app-links/deep-linking           -->
        <!--  app://open.my.app -->
        <!--  app://developer.android.google.cn/training/app-links/deep-linking         -->
        <!--  https://open.my.app          -->

        <!--            <intent-filter>-->
        <!--                &lt;!&ndash; ACTION_VIEW:intent filter can be reached from Google Search               &ndash;&gt;-->
        <!--                <action android:name="android.intent.action.VIEW" />-->

        <!--                &lt;!&ndash; DEFAULT : respond to implicit intents. Without this, only respond to intent specifying the app component name                &ndash;&gt;-->
        <!--                <category android:name="android.intent.category.DEFAULT" />-->
        <!--                &lt;!&ndash; BROWSABLE : intent filter to be accessible from a web browser. Without it, clicking a a link in browser cannot resolve to the app             &ndash;&gt;-->
        <!--                <category android:name="android.intent.category.BROWSABLE" />-->
        <!--                &lt;!&ndash; data tags >= 1               &ndash;&gt;-->
        <!--                &lt;!&ndash; data tag at lease include android:scheme,other is optional               &ndash;&gt;-->
        <!--                <data-->
        <!--                    android:host="developer.android.google.cn"-->
        <!--                    android:scheme="https" />-->
        <!--                <data-->
        <!--                    android:host="open.my.app"-->
        <!--                    android:scheme="app" />-->
        <!--                &lt;!&ndash;                <data&ndash;&gt;-->
        <!--                &lt;!&ndash;                    android:host="developer.android.google.cn"&ndash;&gt;-->
        <!--                &lt;!&ndash;                    android:pathPrefix="/studio"&ndash;&gt;-->
        <!--                &lt;!&ndash;                    android:scheme="https" />&ndash;&gt;-->
        <!--            </intent-filter>-->
        <!--            &lt;!&ndash;  https://www.bing.com/images/trending?form=Z9LH          &ndash;&gt;-->
        <!--        </activity>-->

        <!--        <activity-->
        <!--            android:name=".DisplayWeblinkActivity"-->
        <!--            android:exported="true">-->

        <!--            <intent-filter>-->

        <!--                <action android:name="android.intent.action.VIEW" />-->

        <!--                <category android:name="android.intent.category.DEFAULT" />-->
        <!--                <category android:name="android.intent.category.BROWSABLE" />-->

        <!--                <data android:scheme="https" />-->

        <!--                <data android:scheme="http" />-->
        <!--                <data android:host="developer.android.google.cn" />-->

        <!--            </intent-filter>-->
        <!--        </activity>-->

        <!--  测试用例：adb shell am start -a android.intent.action.VIEW -d "https://6c04-114-87-148-43.ngrok.io/recipe/"      -->
        <activity
            android:name=".DisplayAndroidAppLinkActivity"
            android:exported="true">

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />

                <!-- 测试 Android App Links verification.              -->
                <!--                android:pathPrefix="/recipe"-->
                <data android:host="6c04-114-87-148-43.ngrok.io" />
                <!-- 测试 Open by default            -->
                <data android:host="developer.android.google.cn" />
            </intent-filter>
        </activity>
    </application>

    <!-- queries:how to make those other apps visible to your app
    比如，想用其他app来打开一个pdf文件
   -->
    <queries>

        <!--  Packages that match an intent filter signature      -->
        <!-- 查询手机中安装了哪些可以打开 https://的应用？   -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>

        <!-- 查询手机中安装了哪些可以打开 https://的应用？   -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>

        <!-- 查询手机中安装了哪些可以打开 app://的应用？   -->
        <!--  app://open.my.app      -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="app" />
        </intent>

        <!-- 查询手机中安装了哪些可以打开 jpeg 的应用？   -->
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="image/jpeg" />
        </intent>

        <!-- 查询手机是否安装了Chrome？Specific package names    -->
        <package android:name="com.android.chrome" />
    </queries>

</manifest>