<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Androidaboutdemos">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--   test if can receive deep links      -->
        <!--        <activity-->
        <!--            android:name=".DisplayDeeplinkActivity"-->
        <!--            android:exported="true">-->

        <!--  Test case          -->
        <!--  https://developer.android.google.cn/training/app-links/deep-linking           -->
        <!--  app://open.my.app -->
        <!--  app://developer.android.google.cn/training/app-links/deep-linking         -->
        <!--  https://open.my.app          -->

        <!--            <intent-filter>-->
        <!--                &lt;!&ndash; ACTION_VIEW:intent filter can be reached from Google Search               &ndash;&gt;-->
        <!--                <action android:name="android.intent.action.VIEW" />-->

        <!--                &lt;!&ndash; DEFAULT : respond to implicit intents. Without this, only respond to intent specifying the app component name                &ndash;&gt;-->
        <!--                <category android:name="android.intent.category.DEFAULT" />-->
        <!--                &lt;!&ndash; BROWSABLE : intent filter to be accessible from a web browser. Without it, clicking a a link in browser cannot resolve to the app             &ndash;&gt;-->
        <!--                <category android:name="android.intent.category.BROWSABLE" />-->
        <!--                &lt;!&ndash; data tags >= 1               &ndash;&gt;-->
        <!--                &lt;!&ndash; data tag at lease include android:scheme,other is optional               &ndash;&gt;-->
        <!--                <data-->
        <!--                    android:host="developer.android.google.cn"-->
        <!--                    android:scheme="https" />-->
        <!--                <data-->
        <!--                    android:host="open.my.app"-->
        <!--                    android:scheme="app" />-->
        <!--                &lt;!&ndash;                <data&ndash;&gt;-->
        <!--                &lt;!&ndash;                    android:host="developer.android.google.cn"&ndash;&gt;-->
        <!--                &lt;!&ndash;                    android:pathPrefix="/studio"&ndash;&gt;-->
        <!--                &lt;!&ndash;                    android:scheme="https" />&ndash;&gt;-->
        <!--            </intent-filter>-->
        <!--            &lt;!&ndash;  https://www.bing.com/images/trending?form=Z9LH          &ndash;&gt;-->
        <!--        </activity>-->

        <!--        <activity-->
        <!--            android:name=".DisplayWeblinkActivity"-->
        <!--            android:exported="true">-->

        <!--            <intent-filter>-->

        <!--                <action android:name="android.intent.action.VIEW" />-->

        <!--                <category android:name="android.intent.category.DEFAULT" />-->
        <!--                <category android:name="android.intent.category.BROWSABLE" />-->

        <!--                <data android:scheme="https" />-->

        <!--                <data android:scheme="http" />-->
        <!--                <data android:host="developer.android.google.cn" />-->

        <!--            </intent-filter>-->
        <!--        </activity>-->

        <activity
            android:name=".DisplayAndroidAppLinkActivity"
            android:exported="true">

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data
                    android:host="192.168.8.102"
                    android:pathPrefix="/recipe"
                    android:port="8080" />
            </intent-filter>
        </activity>

    </application>

</manifest>