<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Androidaboutdemos">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--   test if can receive deep links      -->
        <activity
            android:name=".DisplayDeeplinkActivity"
            android:exported="true">

            <!--  https://developer.android.google.cn/training/app-links/deep-linking ok           -->
            <!--  app://open.my.app           ok   -->
            <!--  app://developer.android.google.cn/training/app-links/deep-linking   ok           -->
            <!--  https://open.my.app     ok         -->

            <intent-filter>
                <!-- ACTION_VIEW:intent filter can be reached from Google Search               -->
                <action android:name="android.intent.action.VIEW" />

                <!-- DEFAULT : respond to implicit intents. Without this, only respond to intent specifying the app component name                -->
                <category android:name="android.intent.category.DEFAULT" />
                <!-- BROWSABLE : intent filter to be accessible from a web browser. Without it, clicking a a link in browser cannot resolve to the app             -->
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- data tags >= 1               -->
                <!-- data tag at lease include android:scheme,other is optional               -->
                <!--  For example , https://developer.android.google.cn/training/app-links/deep-linking              -->
                <data
                    android:host="developer.android.google.cn"
                    android:scheme="https" />
                <!--  For example , app://open.my.app              -->
                <data
                    android:host="open.my.app"
                    android:scheme="app" />
                <!--                <data-->
                <!--                    android:host="developer.android.google.cn"-->
                <!--                    android:pathPrefix="/studio"-->
                <!--                    android:scheme="https" />-->
            </intent-filter>
            <!--  https://www.bing.com/images/trending?form=Z9LH          -->
        </activity>

        <activity
            android:name=".DisplayAndroidAppLinkActivity"
            android:exported="false"></activity>

        <activity
            android:name=".DisplayWeblinkActivity"
            android:exported="false">

            <!--            <intent-filter></intent-filter>-->
        </activity>
    </application>

</manifest>