<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hades.example.android">

    <application tools:ignore="GoogleAppIndexingWarning">
<!--        android:name=".widget.custom_view.CustomViewActivity"-->
<!--        android:name=".other_ui._dialog.TestDialogActivity"-->
        <activity
            android:name=".other_ui._dialog.TestDialogActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>